@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

/* colors */

.greencolor {
  color: #004852;
}

.indicocolor {
  color: #282731;
}

.blackcolor {
  color: #1f2933;
}

/* colors */

/* Fonts */

@font-face {
  font-family: "Neue Haas Grotesk thin";
  src: url("/fonts/NeueHaasGrotDisp-25XThin-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk normal semibold";
  src: url("/fonts/NeueHaasGrotDisp-65Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Bold";
  src: url("/fonts/NeueHaasGrotDisp-75Bold-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Bold thin 35";
  src: url("/fonts/NeueHaasGrotDisp-35Thin-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Paragraph";
  src: url("/fonts/NeueHaasGrotDisp-55Roman-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasGrotDisp-95Black-Trial";
  src: url("/fonts/NeueHaasGrotDisp-95Black-Trial.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

/* Fonts */

body {
  font-family: "Neue Haas Grotesk", sans-serif;
  padding: 0;
  margin: 0;
}

.thinfont {
  font-family: "Neue Haas Grotesk thin";
}

.mainheading {
  font-family: "Neue Haas Grotesk thin";
  font-size: 70px;
  line-height: 80px;
}

.mainheading strong {
  font-family: "Neue Haas Grotesk Bold";
}

.thirdheading {
  font-family: "Neue Haas Grotesk thin";
  font-size: 30px;
}

.thirdheading strong {
  font-family: "Neue Haas Grotesk Bold";
}

.fourheading {
  font-family: Neue Haas Grotesk normal semibold;
  font-size: 60px;
  line-height: 70px;
}

.secondheading {
  font-family: "Neue Haas Grotesk thin";
  font-weight: 400;
  font-size: 90px;
}
.secondheading strong {
  font-family: "Neue Haas Grotesk Bold";
}

.fifththheading {
  font-family: Neue Haas Grotesk Bold;
  font-size: 120px;
  font-weight: 400;
  line-height: 110px;
}
.fourthheading strong {
  font-family: "Neue Haas Grotesk Bold";
}

.subheadingtext {
  font-family: "Neue Haas Grotesk Bold thin 35";
  font-size: 32px;
}

.subheadingtext strong {
  font-family: "Neue Haas Grotesk Bold";
}

.paratext {
  font-family: "Neue Haas Grotesk Paragraph";
  font-size: 18px;
  line-height: 28px;
}

.boldfont {
  font-family: "Neue Haas Grotesk Bold";
}

.semibold {
  font-family: "Neue Haas Grotesk normal semibold";
}

.hunderpixel {
  font-family: Neue Haas Grotesk Bold;
  font-size: 100px;
  line-height: 100%;
}

.addressstyle {
  font-size: 22px;
  line-height: 30px;
}

.adressbox {
  padding: 50px;
}

.contactform input {
  height: 60px;
}

.contactform input::placeholder,
.contactform textarea::placeholder {
  font-family: "Neue Haas Grotesk Paragraph";
  font-size: 18px;
  color: #1f2933;
  letter-spacing: 0.5px;
}

.contactformsections {
  padding-top: 100px;
  padding-bottom: 0;
}

/* footer */

.footerbgsection {
  height: 900px;
}

.salesfooterrr {
  font-size: 48px;
  line-height: 55px;
}

.footerrimagefirst {
  width: 45%;
}
.footerrimageSecondd {
  width: 55%;
  padding-top: 100px;
  padding-left: 100px;
  justify-content: center;
  gap: 30px;
}

.copyrightrightsection {
  margin-top: 50px;
  padding-top: 55px;
}
/* footer */

/* about-us */

/* padding-top: 200px;
height: 1600px;
background-color: #ede8d0; */

.aboumiraaboutsection {
  background-color: #ede8d0;
  height: 1635px;
}

.aboutmiraimagepositionn {
  top: 100px;
  z-index: 10;
}

.aboutmiraimagepositionn img {
  width: 100%;
}

.builtontrustpara {
  font-size: 22px;
  line-height: 30px;
}

.mainheading.missionclasss {
  font-size: 50px;
  line-height: 50px;
}

.missionsecid {
  padding-top: 20px;
  justify-content: flex-start;
  gap: 20px;
}

.foundersvoicetext {
  color: #004852;
  opacity: 0.3;
  font-family: NeueHaasGrotDisp-95Black-Trial;
  font-size: 150px;
  line-height: 125px;
  padding-top: 70px;
}

.webelivepremium {
  font-family: "Neue Haas Grotesk Bold thin 35";
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 5px;
}

.accesssible {
  font-family: Neue Haas Grotesk Bold;
  font-size: 70px;
  margin-bottom: 30px;
  line-height: 75px;
}

.foundervoicesubtext {
  font-family: Neue Haas Grotesk normal semibold;
  font-size: 28px;
  line-height: 30px;
}

.landingtextaboutpage {
  margin-top: 130px;
}

.apastaphy {
  position: relative;
}

.apastaphy::before {
  content: "";
  background-image: url("/images/abouticon.png");
  width: 73px;
  height: 60px;
  position: absolute;
  left: -102px;
  top: 20px;
}

.founderwithd {
  width: 83%;
}
/* about-us */

/* ourprojects */

.herobannerheading {
  font-family: "Neue Haas Grotesk Bold";
  font-size: 45px;
  line-height: 50px;
}

.subheadingherobanner {
  font-family: "Neue Haas Grotesk Bold";
  font-size: 24px;
}

.ourprojectsss {
  background-color: #fff;
  padding: 3px 8px 1px 8px;
}

.premiumvillaamain {
  font-family: Neue Haas Grotesk Bold;
  font-size: 40px;
  line-height: 46px;
}

.buttonpading {
  padding: 7px 28px 6px 28px;
}

.ourprojectsimageposition {
  height: 500px;
  width: 930px;
}

.imagedivposition {
  margin-left: -25px;
}

.mothermiraourproject {
  font-family: Neue Haas Grotesk thin;
  font-size: 40px;
  line-height: 40px;
}

.motehrmiratextour {
  margin-left: 15%;
  margin-bottom: 1.7%;
}

.motehrmirabuttonour {
  margin-left: 11%;
}

.fiftypixel {
  font-size: 50px;
  line-height: 50px;
}

.twentyeightpixel {
  font-size: 28px;
  line-height: 30px;
}

.slimfontthin {
  font-family: "Neue Haas Grotesk Bold thin 35";
}

.maxwidthcontent {
  width: max-content;
  padding-left: 31%;
  padding-top: 23%;
}

.twentyfourpixel {
  font-size: 24px;
  line-height: 24px;
}

.paragraphfont {
  font-family: "Neue Haas Grotesk Paragraph";
}

.rightsidecolumnlinee {
  position: relative;
}

.rightsidecolumnlinee::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: #0048523d;
}

/* .lastborderr:nth-of-type(4),
.lastborderr:nth-of-type(7) {
  border: none;
} */

.imagecordnerr {
  padding-left: 5.5%;
}

.imagebordererer {
  position: relative;
}

.imagebordererer::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -1%;
  background-color: #0048523d;
}

/* Project Detail */

.proejectdetailbannerer {
  background-image: url("/images/project-detail/windpage-bg.jpg");
  height: 1420px;
}

/* Project Detail */

.imageesectionhome img {
  border: 7px solid #c9c8b3;
  border-radius: 20px;
  height: 325px;
  width: 90%;
}

.projecthomebannersec {
  background-color: #eee8d0;
  background-image: url("/images/home/homebgproject.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 985px;
  padding-top: 0;
}

.contenthomepagesection {
  justify-content: flex-start;
  display: flex;
  margin-top: 12%;
  margin-left: 48%;
}

.detailsectionproject {
  position: absolute;
  left: 67%;
  top: 71%;
}

.leftsidesectioncontent {
  width: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  left: 33%;
  top: 71%;
}

.premisumvillasend {
  text-align: end;
  width: 30%;
  margin-top: 10px;
}

.perfecthomefont {
  font-family: Neue Haas Grotesk Bold;
  font-size: 140px;
  font-weight: 400;
  line-height: 100%;
}

.imagecontenttttt {
  top: 130px;
}

.buildontrusthomepage {
  background-color: #eee8d0;
  background-image: url("/images/home/homepageintrobg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1400px;
}

.builtttonalwayshome {
  font-size: 160px;
  line-height: 160px;
  padding-top: 130px;
}

.borderbuttonexplore::before {
  content: "";
  background-color: #b4b7a3;

  width: 38%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.borderbuttonexplore::after {
  content: "";
  background-color: #b4b7a3;

  width: 38%;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.borderbuttonexplore .buttonpading {
  padding: 10px 28px 10px;
}

.thitytwoexper {
  font-size: 315px;
  line-height: 100%;
}

.plusfont {
  font-size: 50px;
}

.butoonconteebd {
  margin-top: 50px;
}

.boxcardss {
  height: 250px;
  padding-bottom: 40px;
}

.videosectionz {
  height: 1100px;
}

.videobanenrrcontent {
  margin-bottom: 8%;
}

/* testimonial section */

.testimonialsection {
  position: relative;
}

.testimonial-thumb-slider .slick-list {
  padding: 10px 0 !important;
  overflow: hidden;
}

.testimonial-thumb-slider .slick-slide {
  outline: none;
}

.testimonial-thumb-slider .slick-current .thumbnail-card {
  border-color: #0c3835 !important;
  border: 5px solid;
}

.testimonial-thumb-slider .slick-slide:not(.slick-current) .thumbnail-card {
  opacity: 0.5;
  filter: grayscale(40%);
  transition: all 0.3s ease;
}

.testimonial-thumb-slider .slick-slide:hover .thumbnail-card {
  opacity: 0.9;
  filter: grayscale(0%);
}

.testimonial-main-slider {
  position: relative;
}

.testimonial-main-slider .slick-dots {
  z-index: 20;
  flex-direction: column;
  gap: 14px;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  left: auto;
  right: -25px;
  transform: translateY(-50%);
  display: flex !important;
  justify-content: center;
}

.testimonial-main-slider .slick-dots li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0;
}

.testimonial-main-slider .slick-dots li button {
  background-color: #0c383533;
  border-radius: 2px;
  width: 4px;
  height: 18px;
  padding: 0;
  font-size: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonial-main-slider .slick-dots li button:before {
  display: none;
}

.testimonial-main-slider .slick-dots li.slick-active button {
  background-color: #0c3835;
}

.testimonialsection {
  background-color: #eee8d0;
  background-image: url("/images/testimonialbanner.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1038px;
  position: relative;
}

.tesimonialslidersection {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 6.2%;
}

.imagetestisection1 {
  background-color: #fff;
  border: 10px solid #dedac9;
  border: 10px solid #1f293329;
  width: 17%;
  height: 500px;
  padding: 15px 5px;
  overflow: hidden;
}
.imagetestisection2 {
  width: 62%;
  background-color: #fff;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.imagetestisection2::before {
  content: "";
  z-index: 0;
  background-image: url("/images/bglayertestimonial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 288px;
  position: absolute;
  top: -36px;
  right: 13px;
}

.imagetestisection2 > div {
  border: 10px solid #eee8d0cc;
  border: 10px solid #dedac9;
  border: 10px solid #1f293329;
}

.testimonialcontent {
  min-height: 220px;
  padding-top: 35px;
  padding-right: 40px;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 45px;
}

.imagesizetes {
  border-radius: 30px;
}

.imagesizetes img {
  width: 100%;
}

/* testimonial section */

/* header */

.headerimageesection {
  height: 90px;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.stickyheader .headerimageesection {
  height: 60px;
}

.stickyheader {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.5s ease;
  background-color: #ede8d0 !important;
}

.headerrrrcontainer {
  padding-right: 20px;
}

.headdersectionmain {
  background: transparent;
  position: fixed;
}

.headertop {
  padding-top: 120px;
}

.headerbuttondiv {
  padding: 8px 25px;
}

.headerbuttondiv:hover {
  /* background-color: #004852; */
  color: #ede8d0;
  border-radius: 50px;
}

.transperantBg .headerbuttondiv {
  color: #fff;
}

.transperantBg .headerbuttondiv {
  color: #fff;
}

.transperantBg .headerbuttondiv:hover {
  background-color: #004852;
  color: #ede8d0;
}

.stickyheader.transperantBg .headerbuttondiv {
  color: #000;
}

.stickyheader.transperantBg .headerbuttondiv:hover {
  color: #ede8d0;
}

/* button-animationnnn */

.headerbuttondiv {
  padding: 8px 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
}

.headerbuttondiv::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #004852;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.headerbuttondiv:hover {
  /* background-color: #004852; */
  color: #ede8d0;
  border-radius: 50px;
}

.headerbuttondiv:hover::before {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.transperantBg .headerbuttondiv {
  color: #fff;
}

.transperantBg .headerbuttondiv:hover {
  background-color: transparent;
  color: #ede8d0;
}

.stickyheader.transperantBg .headerbuttondiv {
  color: #000;
}

.stickyheader.transperantBg .headerbuttondiv:hover {
  color: #ede8d0;
}


/* button-animationsss */

.project-button {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  border: none;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.project-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #0c3835;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition:
    width 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    height 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s ease;
}

.project-button:hover {
  background-color: #004852;
  color: #fff;
}

.project-button:hover::before {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.project-button:active {
  transform: scale(0.95);
}